
h1 {
    text-align: center;
}

body {
    font-family: 'Lato', sans-serif;
    justify-content: center; /* Center content horizontally */
    margin: None;
    background-color: oldlace;
}

section {
    background-size: cover; 
    background-position: center center;
}

/***************************************************************
***************     Pagination set up           ****************
***************************************************************/
/* This changes navigation bar text color to black */
#fp-nav ul li .fp-tooltip.fp-right {
    color: black;
}

/***************************************************************
***************      Quiz 1 Styling    ****************
***************************************************************/
#quiz1-graph-row{
    height: 55vh;
    width: auto; 

}

#quiz-1-button{
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    width: 20%;
}

#quiz-1-text{
    margin:auto;
    margin-top: 1%;
    width: 70%;
    text-align: center;
    font-size:larger;
}

.quiz1-graph {
    height:100%;

}
/***************************************************************
***************US Multilingual Proportion Styling****************
***************************************************************/

#population-transition {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set the height to 100% of the viewport height */
}

/***************************************************************
***************      US Language Map Styling    ****************
***************************************************************/

#rangeValue {
    color: deeppink;
}

#yearSelect {
    font-size: 12px;
    height: 30px;
    display: inline-block;
    width: 70px;
}

/***************************************************************
***************      Donut Vis styling          ****************
***************************************************************/
.donut-label {
    font-weight: bolder;
}


/***************************************************************
*******    Internet Language Content Styling    ****************
***************************************************************/

#interntLang-select {
    margin:auto;
    width: 30%;
}

#internetLangText div{
    margin:2%;
}

#internetLang{
    height: 60vh;
    margin-top: 2%;
}


.tooltip {
    position: absolute;
    text-align: center;
    padding: 8px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}