
h1 {
    text-align: center;
}

h3 {
    text-align: center;
    z-index:5;
}


body {
    color: #2e3133;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    justify-content: center; /* Center content horizontally */
    margin: None;
    background-color: oldlace;

    padding-left: 20vw;
    padding-right: 20vw
}

strong{
    color: #de2129;
}

section {
    background-size: cover; 
    background-position: center center;
}


.transition-slide {
    /*background-image: url("/img/background-minimal.png")*/
    background: #535351;
    opacity: 1;
    padding-left: 20vw;
    padding-right: 20vw
}

.transition-slide h3 {
    color: oldlace;
    opacity: 1;
}

.transition-slide strong {
    color: #F49B11;
}

.fp-viewing-1 #fp-nav ul li a span{
    background: oldlace;
}

.fp-viewing-3 #fp-nav ul li a span{
    background: oldlace;
}

.fp-viewing-5 #fp-nav ul li a span{
    background: oldlace;
}

.fp-viewing-8 #fp-nav ul li a span{
    background: oldlace;
}
.fp-viewing-10 #fp-nav ul li a span{
    background: oldlace;
}

.fp-viewing-12 #fp-nav ul li a span{
    background: oldlace;
}

.fp-viewing-14 #fp-nav ul li a span{
    background: oldlace;
}

.fp-viewing-16 #fp-nav ul li a span{
    background: oldlace;
}

/***************************************************************
***************     Pagination set up           ****************
***************************************************************/
/* This changes navigation bar text color to black */
#fp-nav ul li .fp-tooltip.fp-right {
    color: black;
}

/***************************************************************
***************      Quiz 1 Styling    ****************
***************************************************************/
#quiz1-graph-row{
    height: 55vh;
    width: auto; 

}

#quiz-1-button{
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    width: 20%;
}

#quiz-1-text{
    margin:auto;
    margin-top: 1%;
    width: 70%;
    text-align: center;
    font-size:larger;
}

.quiz1-graph {
    height:100%;

}
/***************************************************************
***************US Multilingual Proportion Styling****************
***************************************************************/

#population-transition {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set the height to 100% of the viewport height */
}

/***************************************************************
***************      US Language Map Styling    ****************
***************************************************************/

#rangeValue {
    color: #DE2129;
    font-weight: bold;
}
#yearSelect {
    color: #DE2129;
    font-weight: bold;
    width: 70px; /* Adjust this value as needed */
}

.dropdown {
    position: relative;
    display: inline-block;
}

.caret {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #000; /* Change color as needed */
}



/***************************************************************
***************      Donut Vis styling          ****************
***************************************************************/
.donut-label {
    font-weight: bolder;
}

.arc path{
    opacity: 0.9;
}

/***************************************************************
*******    Internet Language Content Styling    ****************
***************************************************************/

#interntLang-select {
    margin:auto;
    width: 25%;
}

#interntLang-select{
    width: 100%;
    display: inline-block;
}

#internetLangVisCategory{
    width: 20%;
}

#internetLangText div{
    margin:2%;
}

#internetLang{
    height: 60vh;
    margin-top: 2%;
}

.tooltip {
    position: absolute;
    text-align: center;
    padding: 8px;
    font: 16px 'Lato', sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

/***************************************************************
*******           Misc. Animation Support       ****************
***************************************************************/
.fixed-size-image {
    width: 200px;
}

.image-link-container {
    text-align: center;
}

.overlay-image {
    position: absolute;
    z-index: 0; /* higher than the content of the div */
    width: 60%;
    height: 60%;
    /*top: 100%; !* Position the top edge of the image in the middle of the viewport *!*/
    /*left: 100%; !* Position the left edge of the image in the middle of the viewport *!*/
    /*transform: translate(0%, 0%); !* Offset the image position to truly center it *!*/
}

.center-content {
    display: flex;
    justify-content: center; /* Horizontally center the content */
    height: 100%;
}


/***************************************************************
*******    How to help page    animate hack     ****************
***************************************************************/

.row .how-to {
    opacity: 0;
  }

.row .org {
    opacity: 0;
}

.row .animate {
    animation: 1s ease-out 0s 1 slideInFromLeft;
  }
  
  @keyframes slideInFromLeft {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
