
body {
    font-family: 'Lato', sans-serif;
    justify-content: center; /* Center content horizontally */
    margin: None;
    background-color: #f7f2c1;
}

/***************************************************************
*********************  page format set up  *********************
***************************************************************/
.display-block{
    height: 100vh; /* this is tentative value */
    width: 100%;

}

#outer-container {
    width: 100%;
    margin: 0;
    padding: 0;
}

/***************************************************************
***************  Formatting for scroll snapping ****************
***************************************************************/

.container-fluid {
    height: 100vh;
    width: 100%;

    /* The following setting allows for scroll snapping for each page container */
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.child {
    /* The following setting allows for scroll snapping for each page container */
    scroll-snap-align: start;
    height: auto;
    width: 100%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
  }
  
.container-fluid::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    font-family: Helvetica, sans-serif;
}

.container-fluid{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

h3 {
    text-align: center;
}

/***************************************************************
******************    Verical navigation bar    ****************
***************************************************************/

.fp-right {
    position: fixed;
    right: 3%;
    top: 45%;
    width: 3vw; /* Adjust width as needed */
    height: 100%;
    margin: auto;
    margin-right: 2%;
    z-index: 200; /* Make this element to always appear top */
} 

.vertical-dot {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 10px ;
    background-color: #bbb;
    border-radius: 50%;
    display: block;
}

.active,
.vertical-dot:hover {
    background-color: #717171;
}

/***************************************************************
******************  Slider banner quiz stylings ****************
***************************************************************/
/*
 Making the slider banner
*/
.slider {
    position: relative;
    width: 80%; /* This will need to change, there is some margin somewhere */
    height: auto; /* Adjust as necessary */
}

.card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Adjust to fit your images */
    height: auto; /* Adjust to fit your images */
    transition: opacity 0.8s ease-in-out;
}


/*
 Put the first slider on the top
*/

#slider-vis1 {
    z-index: 4;
}

/*
slider banner navigation arrows
*/


#left-arrow, #right-arrow {
    font-size: 20px; /* Adjust the size of the arrow */
    color: black;
    background-color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px; /* Adjust padding to change the shape */

}



/*
slider banner navigation dots
*/

.navigation-button {
    text-align: center;
    position: relative;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.active,
.dot:hover {
    background-color: #717171;
}

/***************************************************************
***************      Quiz 1 Styling    ****************
***************************************************************/

#quiz-1{
    height: 70%;
    width: 100%;
}

/***************************************************************
***************US Multilingual Proportion Styling****************
***************************************************************/

#population-transition {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set the height to 100% of the viewport height */
}

/***************************************************************
***************      US Language Map Styling    ****************
***************************************************************/

#rangeValue {
    color: deeppink;
}

#yearSelect {
    font-size: 12px;
    height: 30px;
    display: inline-block;
    width: 70px;
}